.job {
flex-direction: column;
flex: auto;
display: flex;
text-align: left;
margin: 30px 0;
padding: 20px;
height: 250px;
max-width: 250px; 
background-color: #f2f2f27e;
border-radius: 20px;
box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
word-wrap: break-word;
margin: 30px;


}

.job h2 {
    color: #2f9577;
    font-weight: bolder;
}

.job label {
    font-weight: bold;
    margin-top: 5px;
}

.job button {
    max-width: fit-content;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    background-color: #2f9577;
    align-self: center; 
    color: white;
    cursor: pointer;
    transition: 200ms;
}

.job button:hover{
    background-color: #2f95762e;
    color: #2f9577;
    border-color: #2f9577;
}